<!--
    Plantilla HTML para las páginas web
    Padre del resto de plantillas

    Prácticas de SIBW
    Curso 2022/2023
    Autor: Luis Miguel Guirado Bautista
    Universidad de Granada

    https://github.com/lu1smgb/SIBW
-->
<!DOCTYPE html>
<html lang="es-ES">

<!-- CABECERA HTML: Metadatos de la página -->
<head>
    <!--Codificación del texto-->
    <meta charset="utf-8">
    <!--La página se adapta al ancho de la pantalla-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Palabras clave, descripción y autor del sitio-->
    <meta name="keywords" content="cientifico, biografia, ciencia">
    <meta name="description" content="Conoce a las personas que cambiaron el mundo">
    <meta name="author" content="lu1smgb">
    <!--Titulo, CSS e icono en el navegador-->
    <title>Biografias de 100cia</title>
    {% block estilo %}<link rel="stylesheet" href="../assets/css/estilos.css">{% endblock %}
    <link rel="icon" href="../assets/images/logotipo.gif">
    {% block scripts %} {% endblock %}
</head>

<!-- CUERPO HTML: Contenido de la página -->
<body>

    <div id="main">

        <!-- CABECERA -->
        <header>

            <!-- Logotipo -->
            <!-- Gracias a Lordicon por el icono -->
            <a href="index.php">
                <img id="logotipo" src="../assets/images/logotipo.gif" alt="Logotipo">
            </a>

            <!-- Titulo y seccion de menús -->
            <h1>Biografias de 100cia</h1>
            <nav>
                {% for menu in data.menus %}
                    <button type="button" onclick="location.href = '{{menu.enlace}}';">{{ menu.nombre }}</button>
                {% endfor %}
            </nav>

        </header>

        <!-- CUERPO -->
        <div id="cuerpo">

            <!-- Panel de cientificos -->
            <!-- Puede ser un menú o una biografía -->
            {% block panelPrincipal %}
            <div id="panel-biografia">
                Panel central
            </div>
            {% endblock %}

            <!-- Panel lateral -->
            <!-- Contiene enlaces de interés relacionados con la web -->
            <aside>
                {% block panelLateral %}
                    {% if data.user != null %}
                        Usuario: {{data.user.nombre}}<br>
                        Rol: {{data.user.tipo}}<br>
                        <p><a href="editar_usuario.php">Editar información personal</a></p>
                        <p><a href="logout.php">Cerrar sesión</a></p>
                    {% else %}
                        <p><a href="login.php">Iniciar sesión</a></p>
                        <p><a href="register.php">Registrarse</a></p>
                    {% endif %}
                {% endblock %}
            </aside>

        </div>

        <!-- PIE DE PÁGINA -->
        <footer>
            <a href="https://github.com/lu1smgb/SIBW">
                &copy; 2023 - Luis Miguel Guirado Bautista - lu1smgb en GitHub 😎🌯 
            </a>
        </footer>

    </div>

    {% block panelComentarios %}
    {% endblock %}

</body>

</html>