{#

    Plantilla para el menú principal
    Hija de "base.html"

    Prácticas de SIBW
    Curso 2022/2023
    Autor: Luis Miguel Guirado Bautista
    Universidad de Granada

    https://github.com/lu1smgb/SIBW

#}

{% extends "base.html" %}

{% block panelPrincipal %}
    <div id="panel-cientificos">
        {% for cientifico in data.cientificos %}
            <a class="cientifico" href="../cientifico.php?id={{ cientifico.id }}">
                <img src="../assets/images/{{ cientifico.portada }}" alt="{{ cientifico.nombre }}">
                <p>{{ cientifico.nombre }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}