{% extends "base.html" %}

{% block scripts %}
<script src="../assets/js/PanelComentarios.js" defer></script>
{% endblock %}

{% block seccionMenus %}
    {{ parent() }}
{% endblock %}

{% block panelPrincipal %}
<!-- Panel de cientificos -->
<div id="panel-biografia">

    <!-- Imagenes adjuntas a la biografia -->
    <div class="pila-imagenes">
        <!-- 
        <div class="cientifico">
            <img src="../assets/images/albert_einstein.jpg" alt="img1">
            <p>Pie de imagen 1</p>
        </div>
        -->
        {% for imagen in imagenes %}
        <div class="cientifico">
            <img src="../assets/images/{{ imagen.enlace }}" alt="{{ imagen.enlace }}">
            <p>{{ imagen.descripcion }}</p>
        </div>
        {% endfor %}
    </div>
    
    <h2>{{ datos['nombre'] }}</h2>
    <h3>{{ datos['fechaNacimiento'] }} - {{ datos['fechaDefuncion'] }}</h3>
    <h4>{{ datos['lugarOrigen'] }}</h4>
    <p>{{ datos['biografia'] }}</p> <!-- TODO ¿Hay una mejor manera de procesar todo esto quiza string.split()? -->

    <!-- Botones sociales -->
    <!-- FB, TW e Imprimir -->
    <!-- TODO: SOCIALES -->
    <div class="botones-sociales">
        <button type="button">Facebook</button>
        <button type="button">Twitter</button>
        <button type="button" onclick="location.href = '../cientifico_imprimir.php';">Imprimir</button>
        <button type="button" id="boton-comentarios"><img src="../assets/images/comentarios.gif"></button>
    </div>
</div>
{% endblock %}

{% block panelLateral %}
<p>Gracias a <a href="https://chat.openai.com">ChatGPT-3</a> por generar esta biografía</p>
<p>Imágenes sacadas de <a href="">Wikipedia</a></p>
{% endblock %}

{% block panelComentarios %}
<div id="panel-comentarios">
    <strong id="contador-comentarios">- comentarios</strong>
    <div id="vista-comentarios">
        <!-- Lista de comentarios -->
        <!-- TODO Plantilla de comentarios Cambiar esto -->
        <!--
        <div class="comentario">
            <strong class="nombre">Persona 1</strong>
            <strong class="fecha">DD/MM/AAAA - HH:MM</strong>
            <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in diam elementum, feugiat urna a, lacinia mauris.</p>
        </div> 
        -->
    </div>
    <form id="form-comentarios" name="form-comentarios">
        <strong>Publica tu comentario</strong>
        <!--
            - Nombre
            - Email
            - Texto
            - Boton de enviar
        -->
        <div id="nombre-email">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="email" name="email" placeholder="Email">
        </div>
        <textarea name="texto" placeholder="Escribe aquí..."></textarea>
        <button type="button" value="Enviar">Enviar</button>
    </form>
</div>
{% endblock %}