<!--
    Portada/menú principal de nuestra página web

    Prácticas de SIBW
    Curso 2022/2023
    Autor: Luis Miguel Guirado Bautista
    Universidad de Granada

    @lu1smgb on GitHub
-->
<!DOCTYPE html>
<html lang="es-ES">

<!-- CABECERA HTML: Metadatos de la página -->
<head>
    <!--Codificación del texto-->
    <meta charset="utf-8">
    <!--La página se adapta al ancho de la pantalla-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Palabras clave, descripción y autor del sitio-->
    <meta name="keywords" content="cientifico, biografia, ciencia">
    <meta name="description" content="Conoce a las personas que cambiaron el mundo">
    <meta name="author" content="lu1smgb">
    <!--Titulo, CSS e icono en el navegador-->
    <title>Biografias de 100cia</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="icon" href="../assets/images/logotipo.gif">
</head>

<!-- CUERPO HTML: Contenido de la página -->
<body>

    <div id="main">

        <!-- CABECERA -->
        <header>

            <!-- Logotipo -->
            <!-- Gracias a Lordicon por el icono -->
            <img id="logotipo" src="../assets/images/logotipo.gif" alt="Logotipo">

            <!-- Titulo y seccion de menús -->
            <h1>Biografias de 100cia</h1>
            <nav>
                <button type="button">Menu 1</button>
                <button type="button">Menu 2</button>
                <button type="button">Menu 3</button>
            </nav>

        </header>

        <!-- CUERPO -->
        <div id="cuerpo">

            <!-- Panel de cientificos -->
            <!-- Puede ser un menú o una biografía -->
            <div id="panel-cientificos">
                <a class="cientifico" href="../cientifico.php">
                    <img src="../assets/images/albert_einstein.jpg" alt="albert_einstein">
                    <p>Albert Einstein</p>
                </a>
                <a class="cientifico">
                    <img src="../assets/images/marie_curie.jpg" alt="marie_curie">
                    <p>Marie Curie</p>
                </a>
                <a class="cientifico">
                    <img src="../assets/images/nikola_tesla.jpeg" alt="nikola_tesla">
                    <p>Nikola Tesla</p>
                </a>
                <a class="cientifico">
                    <img src="../assets/images/stephen_hawking.jpg" alt="stephen_hawking">
                    <p>Stephen Hawking</p>
                </a>
                <a class="cientifico">
                    <img src="../assets/images/alan_turing.jpg" alt="alan_turing">
                    <p>Alan Turing</p>
                </a>
                <a class="cientifico">
                    <img src="../assets/images/louis_pasteur.jpg" alt="louis_pasteur">
                    <p>Louis Pasteur</p>
                </a>
                <a class="cientifico">
                    <img src="../assets/images/isaac_newton.jpg" alt="isaac_newton">
                    <p>Isaac Newton</p>
                </a>
            </div>

            <!-- Panel lateral -->
            <!-- Contiene enlaces de interés relacionados con la web -->
            <aside>
                <p>Este es el panel lateral, aquí encontrarás referencias para obtener más información acerca de los científicos</p>
                <p>Haz clic en uno de los recuadros a tu izquierda que contienen a un científico para acceder a su bibliografía correspondiente</p>
                <p>Todas las fotos usadas para la web tienen licencia Creative Commons</p>
                <p>El fondo de pantalla ha sido generado por <a href="https://svgbackgrounds.com">svgbackgrounds.com</a></p>
                <p>El logotipo ha sido generado por <a href="https://lordicon.com">lordicon.com</a></p>
            </aside>

        </div>

        <!-- PIE DE PÁGINA -->
        <footer>
            <a href="https://github.com/lu1smgb">
                &copy; 2023 - Luis Miguel Guirado Bautista - lu1smgb en GitHub 😎🌯 
            </a>
        </footer>

    </div>

</body>

</html>